{% load static %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{% static 'chart2/chart_4.js' %}"></script>
<link rel="stylesheet" href="{% static 'chart2/chart.css' %}">

<figure class="highcharts-figure" style="max-width: 1050px;">
  <div id="container2_4"></div>
</figure>